@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#heading-for-phone{
  display: none;
}
#main-left p{
  font-size: 14px;
  line-height: 2vw;
}
#naturelogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#naturelogo a {
  text-decoration: none;
  color: #000000;
}
#naturelogo a:hover {
  color: #1f8220;
}
#container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
section {
  scroll-snap-align: start;
}
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#home-page {
  height: 100vh;
  background: linear-gradient(to bottom, #e2eeed 21%, #ffffff 61%);
}
#f-half {
  height: 50vh;
  background-repeat: no-repeat;
}
#s-half {
  height: 50vh;
}
#icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo {
  height: 50px;
  border-radius: 50%;
}
#line {
  margin-top: -12px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
#navbar {
  padding-top: 20px;
}
#home {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
#about {
  font-weight: 500;
  padding-left: 3vw;
  padding-right: 3vw;
  color: black;
  text-decoration: none;
}
#about:hover {
  color: rgb(21, 182, 0);
}
#contact {
  font-weight: 500;
  color: black;
  text-decoration: none;
}
#contact:hover {
  color: rgb(21, 182, 0);
}
#home:hover {
  color: rgb(21, 182, 0);
}
#explore {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 90px;
  color: white;
  border-radius: 5px;
  background-color: #1f8220;
  font-weight: 500;
  margin-right: 50px;
}
#explore:hover {
  cursor: pointer;
  background-color: rgb(21, 182, 0);
}
#naturelogo {
  margin-left: 40px;
  margin-bottom: 10px;
}
#main-content {
  justify-content: space-around;
  display: flex;
  height: 90vh;
  flex-wrap: wrap;
}
#main-left {
  width: 38vw;
  font-family: "Lato", sans-serif;
  margin-left: 4vw;
  margin-top: 10vh;
}
#main-left h1 {
  color: rgb(41, 41, 41);
  font-family: "Lato", sans-serif;
  font-size: 33px;
  font-weight: bold;
  font-size: 40px;
}
#main-left p {
  line-height: 40px;
  margin-top: 22px;
  color: rgb(82, 82, 82);
}

#main-right img {
  margin-top: 8vh;
  height: 480px;
}

#color-button {
  margin-top: 40px;
  height: 40px;
  width: 90px;
  border-radius: 5px;
  background-color: #1f8220;
  color: white;
  border: none;
}
#color-button:hover {
  box-shadow: 2px 4px 10px #2c2c2c6f;
  cursor: pointer;
}
#trans-button button {
  margin-top: 40px;
  font-weight: bold;
  height: 40px;
  text-align: center;
  text-decoration: none;
  width: 90px;
  font-family: sans-serif !important;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 20px;
  background-color: white;
  border: 1px solid #1f8220;
  color: #1f8220;
}
#trans-button button:hover {
  box-shadow: 5px 5px 9px #7c7c7c6f;
  cursor: pointer;
}
#heading2 {
  padding-top: 50px;
}

/* below main */

#below-main {
  min-height: 100vh;
  background: linear-gradient(to bottom, #e2eeed 21%, #ffffff 61%);
}
#below-main h1 {
  text-align: center;
  font-size: 28px;
  font-family: "Lato", sans-serif;
  color: #000000;
}
#below-main p {
  margin-top: 10px;
  text-align: center;
  font-size: 19px;
  color: #525252;
  font-family: "Lato", sans-serif;
}
#pots {
  /* padding: 120px; */
  padding: 50px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#box1 {
  margin: 9px;
  border-radius: 5px;
  border: 3px solid rgb(105, 105, 105);
  height: 250px;
  width: 200px;
}
#box1:hover {
  box-shadow: 2px 4px 10px #2c2c2c6f;
  cursor: pointer;
}
#box1 h1 {
  font-size: 15px;
}
#box1 p {
  font-size: 10px;
}
#box1 img {
  margin-top: 12px;
  height: 160px;
}
#pot1 {
  margin-left: 4em;
}
#pot2 {
  margin-left: 3.5em;
}
#pot3 {
  margin-left: 3em;
}
#pot4 {
  margin-left: 3.5em;
}
#pot5 {
  margin-left: 3em;
}

#footer {
  background-color: #e2eeed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 43vh;
}
.footer-box {
  padding: 20px;
  height: 150px;
  margin: 29px;
  padding: 6px;
  text-decoration: none;
}
.footer-box h3 {
  text-align: center;
  color: #1e1e1e;
}
.footer-box p a {
  text-decoration: none;
  color: #7d7d7d;
}
.footer-box a i {
  padding-left: 40px;
  padding-top: 7px;
  color: #7d7d7d;
  font-size: 22px;
}
.footer-box a i:hover {
  color: rgb(21, 182, 0);
}
.footer-box p {
  text-align: center;
  color: #7d7d7d;
}

.footer-box p a:hover {
  color: rgb(21, 182, 0);
  cursor: pointer;
}
#company-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  margin-right: 10px;
}
#triple-section img {
  height: 450px;
}
#triple-section i {
  color: rgb(21, 182, 0);
  margin-right: 10px;
  margin-left: 12px;
}
#triple-section h3 {
  margin-bottom: 19px;
  font-size: 34px;
  margin-top: 59px;
}
#triple-section p {
  color: #7d7d7d;
  font-size: 18px;
}
.center h3 {
  font-size: 28px;
  font-family: lato;
}
#para1 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#footer-pop {

  position: relative;
  height: 100vh;
}
#footer-pop h2 {
  margin-top: 10px;
  position: absolute;
  left: 13vw;
  font-size: 5vw;
  top: 8vw;
  color: rgb(181, 181, 181);
  z-index: -22;
}
#footer-pop i{
  margin-left: 9px;
  padding-left: 35px;
}
#f1 {
  height: 18em;
  margin-left: 43vw;
  margin-top: 14vw;
  margin-bottom: -0.8vw;
}

@media (max-width: 799px){
  #pots {
    padding: 5px;
    margin-top: 15px;
  }
  #para1 h3 {
    margin-top: 10px;
    font-size: 20px;
    /* margin-bottom: 5px; */
  }
  #para1 p {
    font-size: 15px;
    /* margin-top: 10px; */
  }
  #para1 img {
    height: 59vh;
  }
  .twotwo {
    background: linear-gradient(to bottom, #e2eeed 21%, #ffffff 61%);
  }
  #f1 {
    margin-left: 35vw;
  }
  #footer-pop h2 {
    height: 30vh;
  }
  .footer-box {
    margin: 1px;
  }
  #hidden{
    display: none;
  }
  #main-left p{
    font-size: 12px;
    line-height: 22px;
  }
}

@media (max-width: 490px) {
  body {
    position: relative;
  }
  #logo {
    /* margin-left: 12px; */
    margin-top: 14px;
    height: 50px;
    border-radius: 50%;
  }
  #explore {
    display: none;
  }
  #line {
    margin: 1px;
    padding: 1px;
    justify-content: space-around;
  }
  #icon {
    padding-left: 0px;
    width: 45px;
    margin-left: 0px;
  }
  #box1 {
    margin-top: 1px;
  }
  #pots {
    margin-top: 14px;
    padding: 15px;
  }
  #naturelogo p {
    display: none;
    visibility: hidden;
  }
  #navbar {
    padding-top: 2px;
    justify-content: space-around;
    /* display: none; */
  }
  #line a {
    font-size: 13x;
  }
  #main-left h1 {
    font-size: 12px;
  }
  #main-left p {
    font-size: 12px;
  }
  #main-content{
    justify-content: space-around;
  }
  /* fffffffffffffff */
  
  #heading-for-phone{    
    font-family: "Lato", sans-serif;
    display: inline;
    height: 13px;
    margin: 5px;
    font-size: 17px;
    margin-top: 30px;
  }
 #main-content {
  display: flex;
  height: 90vh;
  /* flex-wrap: nowrap; */
}
#main-left {  
  font-family: "Lato", sans-serif;
  margin-top: 0vh;
}
#main-left h1 { 
font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: bold;
  display: none;
}
button{
  margin-top: 0px;
  padding-top: 0px;
}
#leave{
  display: none;
}
#main-left p {
  line-height: 20px;
  margin-top: -18vh;
  font-size: 13px;
  color: rgb(82, 82, 82);
}
#main-right {
  height: 30vh;
}
#main-left {
  height: 30vh;
}
#main-right img {
  margin-top: -12vh;
  height: 200px;
}
#color-button {
  margin-top: 10px;
  height: 40px;
  width: 90px;
}
#color-button:hover {
  box-shadow: 2px 4px 10px #2c2c2c6f;
  cursor: pointer;
}
#trans-button button {
  margin-top: 10px;
  margin-left: 0px;
}
#trans-button button:hover {
  box-shadow: 5px 5px 9px #7c7c7c6f;
  cursor: pointer;
}
#naturelogo img{
  margin-right: 12vw;
}
#below-main h1{
  font-size: 1.5em;
}
#para1 img{
  height: 390px;
}
#b11 img{
  height: 265px;
  margin-left: 10px;
}
#f1{
  margin-left: 27vw;
}
#footer-pop h2{
  margin-top: -2px;
  margin-right: 22px;
  font-size: 1.2em; 
  z-index: 122;
  /* margin-right: 22px; */
}
#chota img{
  height: 270px;
}
#hidden{
  display: inline;
}
#footer{
/* background-color: rgb(190, 86, 86); */
height: 500px;
}
#main-left p{
  margin-top: -142px;
  font-size: 12px;
  line-height: 15px;
}

}
